.grid(@grid-width: 100%, @gutter: 10%, @column-float: left) {

  .opposite-float(left) { @opposite-float: right; }
  .opposite-float(right) { @opposite-float: left; }

  .clearfix() {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .row() {
    .clearfix;
    margin-left: -@gutter / 2;
    margin-right: -@gutter / 2;
  }

  .column(@column-span, @columns, @cycle: @columns) {
    .opposite-float(@column-float);
    @column-width: calc(@grid-width / @columns ~" - " @gutter);

    display: inline-block;
    float: @column-float;
    width: @column-width;
    margin-left: @gutter / 2;
    margin-right: @gutter / 2;

    &:nth-child(@{cycle}n + 1) { clear: @column-float; }
  }
}
